label { font-size:1.5em; margin-right:1em; }
.highlight { background-color:Silver; }
 .mini { margin-left:1em; font-weight:bold;  font-size:.3em;}
 
 .editlink{color:#000;}
 .editlink:hover{text-decoration:none;}